<!DOCTYPE html>
<html lang="en" data-theme="dark">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- <link rel="stylesheet" href="styles.css" /> -->
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
      />
      <title>Document</title>
   </head>
   <body>
      <div id="root" class="container" style="margin-top: 3rem">
         <div role="group">
            <button @click="increment">{{+1}}</button>
            <button @click="decrement">{{-1}}</button>
            <button @click="addNumber(10)()">{{+10}}</button>
         </div>
         <small>{{count}}</small>
         <div role="group">
            <input type="text" v-model="inputVal" :aria-invalid="count === 3"/>
            <button @click="addTodo">Add</button>
         </div>
         <p style="margin: 1rem 0">Todos Length: {{todosLength}}</p>

         <ul class="list">
            <li
               v-for="(todo, i) in todos"
               :class="{active: activeTodo === i}"
               @click="toggle(i)"
            >
               {{i}}:{{ todo }}
            </li>
         </ul>
         <details>
            <summary role="button">Owls</summary>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
               repellat eaque aliquid omnis beatae nihil voluptate tempore, in
               laudantium numquam!
            </p>
         </details>
      </div>

      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <script src="app.js"></script>
   </body>
</html>
